*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{

    width:100%;
    height:100%;

    overflow:hidden;

    font-family:Georgia, serif;

    background:#050814;

}



#sky{

    position:fixed;

    inset:0;

    width:100%;

    height:100%;

    z-index:0;

}



body::before{

    content:"";

    position:fixed;

    inset:0;

    background:

    radial-gradient(
        circle at top,
        rgba(80,110,180,.25),
        transparent 50%
    ),

    linear-gradient(
        to bottom,
        #081124,
        #020306
    );


    z-index:1;

}



.rain-layer{

    position:fixed;

    inset:0;

    pointer-events:none;

    z-index:3;

    opacity:0;

}



.welcome-box{


    position:absolute;


    top:50%;


    left:50%;


    transform:translate(-50%,-50%);



    width:90%;


    max-width:420px;



    padding:40px 30px;



    text-align:center;



    color:white;



    background:

    rgba(255,255,255,.08);



    border:

    1px solid rgba(255,255,255,.2);



    border-radius:28px;



    backdrop-filter:blur(18px);



    z-index:5;



    animation:

    show 2s ease;

}




.welcome-box h1{


    font-size:42px;


    margin-bottom:20px;


    letter-spacing:1px;


}



.welcome-box p{


    font-size:17px;


    line-height:1.8;


    opacity:.85;


}



button{


    margin-top:30px;


    padding:15px 40px;


    border-radius:50px;


    border:1px solid rgba(255,255,255,.3);


    background:

    rgba(255,255,255,.15);



    color:white;


    font-size:16px;


    cursor:pointer;


    transition:.4s;


}




button:hover{


    transform:scale(1.05);


    background:

    rgba(255,255,255,.3);


}




@keyframes show{


    from{


        opacity:0;


        transform:

        translate(-50%,-40%);


    }



    to{


        opacity:1;


        transform:

        translate(-50%,-50%);


    }


}
